<section class="shirley-wrapper" ngClass.lt-md="mobile-wrapper">
  <div class="home-inner" fxLayout="row" fxLayout.lt-md="column" ngClass.lt-md="mobile-inner">
    <div class="home-inner--info" ngClass.lt-md="home-inner--child-mobile">
      <h1>Shirley Gauthier</h1>
      <div class="home-inner--info--life">
        <div>Born May 22, 1936</div>
        <div>Died August 13, 2020</div>
      </div>
      <div class="divider">
        <hr>
      </div>
      <div class="home-inner--info--obit">
        <h4>Obituary</h4>
        <a href="https://www.legacy.com/obituaries/timesrecordnews/obituary.aspx?n=shirley-gauthier&pid=196640620&fhid=30006"
          target="__blank">Times Record News</a>
        <a href="http://www.owensandbrumley.com/obituary/shirley-gauthier" target="__blank">Owens & Brumley Funeral Home</a>
      </div>
    </div>
    <div class="home-inner--photos" ngClass.lt-md="home-inner--child-mobile">
      <img src="../../assets/grandmaCollage.jpg" alt="Shirley Gauthier" class="pop-photo">
    </div>
  </div>
</section>
