<section class="uploader-wrapper">
  <mat-card ngClass.gt-sm="card-desktop" ngClass.lt-md="card-mobile">
    <div id="direct_upload" ng2FileDrop [uploader]="uploader" (fileOver)="fileOverBase($event)" [ngClass]="{'nv-file-over': hasBaseDropZoneOver}">
      <h1>Upload New Photo of Skip</h1>
      <p>You can also drag and drop an image file into the dashed area.</p>
      <form>
        <div class="form_line">
          <div class="form_controls">
            <mat-form-field>
              <input matInput type="text" placeholder="Tags" class="form-control" #title (keyup.enter)="updateTitle(title.value)" (blur)="updateTitle(title.value)">
            </mat-form-field>
          </div>
        </div>
        <div class="form_line">
          <div class="form_controls">
            <div class="upload_button_holder">
              <label class="upload_button red-blue-fade" for="fileupload">
                <mat-icon>cloud_upload</mat-icon>
                Upload Image
              </label>
              <!-- onChange hanlder resets the input value to get the change event when uploading the same file consecutively -->
              <input type="file" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'" [uploader]="uploader" (change)="fileInput.value=''"
                multiple />
            </div>
          </div>
        </div>
      </form>
      <h2>Status</h2>
      <div class="file" *ngFor="let response of responses; let i = index">
        <h3>{{response.file.name}}</h3>
        <button class="delete-image" *ngIf="!!response.data.delete_token" (click)="deleteImage(response.data, i)">Delete image</button>
        <div class="status">
          Uploading... {{response.progress}}%
          <div *ngIf="!response.status">In progress</div>
          <div class="status-code upload-success" *ngIf="response.status && response.status == 200">Upload Completed!</div>
          <div class="status-code upload-failed" *ngIf="response.status != 200">ERROR! Upload failed!</div>
        </div>
        <div class="progress-bar">
          <mat-progress-bar mode="determinate" [value]="response.progress"></mat-progress-bar>
        </div>
        <div class="form_line">
          <div class="form_controls">
            <div class="preview">
              <!-- Consider using https://github.com/valor-software/ng2-file-upload/issues/461 for image preview -->
            </div>
          </div>
        </div>
        <!-- <div class="info">
          <table>
            <tr *ngFor="let property of getFileProperties(response.data)">
              <td> {{ property.key }} </td>
              <td> {{ property.value | json}} </td>
            </tr>
          </table>
        </div> -->
      </div>
    </div>
  </mat-card>
</section>