@import '../../../styles/_variables.scss';

mat-card {
	background-color: $flat-white;
	// width: 100%;
	&.card-desktop {
		width: 100%;
	}
	&.card-mobile {
		width: 100%;
	}
}

h1 {
	color: $primary;
	// font-size: 18px;
}

h1.welcome {
	margin-top: 2em;
}
h2 {
	color: $gray-3;
}
a {
	color: $primary;
}
.upload_link {
	color: #000;
	border: 1px solid $gray-5;
	background-color: $flat-white;
	font-size: 1em;
	padding: .5em 1em;
	// width: 250px;
	margin: 1em 0 2em 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

// .introducing-cloudinary {
// 	max-width: 80%;
// }

.static-photo img {
	max-width: 20%;
	position: absolute;
	right: 0;
}

.photo {
	margin: 10px;
	padding: 10px;
	border-top: 2px solid $gray-4;
}
.photo .thumbnail {
	margin-top: 10px;
	display: block;
	max-width: 200px;
	border: none;
}
.toggle_info {
	margin-top: 10px;
	font-weight: bold;
	color: $warn;
	display: block;
}
.thumbnail_holder {
	height: 182px;
	margin-bottom: 5px;
	margin-right: 10px;
}
.info td,
.uploaded_info td {
	font-size: 12px;
}
.note {
	margin: 20px 0;
}

.inline {
	display: inline-block;
}
td {
	vertical-align: top;
	padding-right: 5px;
}

// #direct_upload_jquery,
// #direct_upload {
// 	box-sizing: content-box;
// }

#direct_upload_jquery,
#direct_upload {
	padding: 1.5em;
	margin: 1.5em 0;
	border-top: 1px solid $gray-4;
	border-bottom: 1px solid $gray-4;
}

#direct_upload_jquery h1,
#direct_upload h1 {
	margin: 0 0 1em 0;
}

.back_link {
	font-weight: bold;
	display: block;
	font-size: 16px;
	margin: 10px 0;
}

form {
	border: 1px solid $gray-4;
	margin: 15px 0;
	padding: 15px 0;
	border-radius: 4px;
}
form .form_line {
	margin-bottom: 1.5em;
}
form .form_controls {
	margin-left: 1em;
}
form label {
	float: left;
	width: 160px;
	padding-top: 3px;
	text-align: right;
}
form .error {
	color: #c55;
	margin: 0 10px;
}

#direct_upload,
#direct_upload_jquery {
	border: 4px dashed $gray-4;
}
#direct_upload.dragover {
	border-color: $success;
}
#direct_upload.dragover-err {
	border-color: $warn;
}

.upload_details {
	font-size: 12px;
	margin: 20px;
	border-top: 1px solid $gray-4;
	word-wrap: break-word;
}
.upload_button_holder {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.upload_button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 14px;
	color: $flat-white;
	padding: 5px 0;
	border-radius: 4px;
	width: 100px;
	height: 18px;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	mat-icon {
		margin-right: .5em;
	}
}

.upload_button:hover {
	background-color: lighten($primary, 20%);
}
.upload_button_holder .cloudinary_fileupload {
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
}
.progress-bar {
	width: 100px;
	position: relative;
	height: 4px;
}
.progress-bar .progress {
	height: 4px;
	background-color: $primary;
	width: 0;
}
.preview img,
.preview audio,
.preview video {
	max-width: 300px;
	max-height: 150px;
}
