@import '../../styles/_variables';
.slideshow-outer-wrapper {
	overflow: hidden;
	background-color: $primary;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	&.standard {
		min-height: calc(100vh - 64px);
	}
	&.mobile {
		min-height: calc(100vh - 56px);
	}
	.image-wrapper {
		height: calc(100vh - 150px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		img {
			max-height: 100%;
			max-width: 100%;
			border-radius: 5px;
		}
	}
	.show-controls {
		margin-top: .5em;
		display: flex;
		justify-content: center;
		button {
			margin-right: 2em;
			// &.music-btn {
			// 	background-color: $warn;
			// 	color: white;
			// }
		}
	}
}
