<section class="slideshow-outer-wrapper" ngClass.gt-sm="standard" ngClass.lt-md="mobile">
  <div class="image-wrapper">
    <img [src]="currentImage" class="slide-image" *ngIf="currentImage" [@slideShow]="animation">
  </div>
  <div class="show-controls" color="warn">
    <button mat-fab class="white-button" (click)="changeSlide('back')">
      <mat-icon>skip_previous</mat-icon>
    </button>
    <button mat-fab class="white-button" (click)="isPaused ? startShow() : pauseShow()">
      <mat-icon *ngIf="isPaused">play_arrow</mat-icon>
      <mat-icon *ngIf="!isPaused">pause</mat-icon>
    </button>
    <button mat-fab class="white-button" (click)="changeSlide('next')">
      <mat-icon>skip_next</mat-icon>
    </button>
    <button mat-fab (click)="playPauseMusic()" class="red-button">
      <mat-icon *ngIf="musicPaused">volume_up</mat-icon>
      <mat-icon *ngIf="!musicPaused">volume_off</mat-icon>
    </button>
  </div>
</section>
