@import '../../styles/_variables';
@import '../../styles/mixins/_shadow';
.slideshow-outer-wrapper {
	overflow: hidden;
	background-color: $primary;
	background-image: url('../../assets/vichy.png');
	background-repeat: repeat repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	&.standard {
		min-height: calc(100vh - 64px);
	}
	&.mobile {
		min-height: calc(100vh - 56px);
	}
	.image-wrapper {
		height: calc(100vh - 150px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		img {
			max-height: 100%;
			max-width: 100%;
      border-radius: 5px;
      @include box_shadow(4);
		}
	}
	.show-controls {
		margin-top: .5em;
		display: flex;
		justify-content: center;
		button {
      margin-right: 2em;
      @include box_shadow(3);
      transition: all .2s;
      &:active {
        @include box_shadow(1);
        transform: translateY(2px);
      }
			// &.music-btn {
			// 	background-color: $warn;
			// 	color: white;
			// }
		}
	}
}
