$red-sox-red: #c8102e;
$red-sox-blue: #0c2340;
$flat-white: #fafafa;
$flat-black: #040f0f;

$primary: $red-sox-blue;
$secondary: $flat-black;
$accent: $flat-white;
$warn: $red-sox-red;
$success: #248232;

$gray-1: #111;
$gray-2: #333;
$gray-3: #555;
$gray-4: #777;
$gray-5: #999;
