$red-sox-red: #c8102e;
$red-sox-blue: #0c2340;
$flat-white: #fafafa;
$flat-black: #040f0f;

$primary: $red-sox-blue;
$secondary: $flat-black;
$accent: $flat-white;
$warn: $red-sox-red;
$success: #248232;
