<section class="info-wrapper">
  <h1>Skipg.me is a work-in-progress</h1>
  <!-- <img src="../../assets/IMG_1745.jpg" alt="Maurice Gauthier" class="pop-photo" ngClass.lt-md="mobile-photo"> -->
  <div class="letting-them-know" ngClass.lt-md="mobile" ngClass.gt-sm="full">
    <p>
      Hey family, Joey here. I told yous guys I was gonna build a site to memorialize Pop. I have big plans, but they are going
      to take a while. I try to develop a little bit each day in hopes that this can eventually be a feature rich, engaging
      way to remember Pop. I'm not using any templates or site generator services like Wix. This is 100% hand-typed code
      by me in what very little spare time I have. Instead of paying for a hosting service I just rent a small virtual server
      for $5 a month and I have to configure it to host this site by myself too which is another layer of complexity, but
      it keeps it cheap. Oh, and by the way, the finished product will look amazing. This is just a placeholder to let you
      guys know what's up. I'm not going to spend time making this pretty because the time is better spent making creating
      my vision. Once everything works like I want it THEN I will go back and make this look top-notch (and YES I chose Red
      Sox official colors because he was such a fan)!
    </p>
    <p>My plans for each section include
      <b>(THIS IS BEING UPDATED AS I MAKE PROGRESS)</b>:</p>
    <span class="section-title title">Overall</span>
    <ul>
      <li>Make login system for family and friends. This will make it possible to automatically attach your name to to credited
        for a photo you upload and tie into a comment system I plan to make in the future to allow you to comment on photos
        adding a social aspect.
      </li>
      <li>Social network share buttons to share the site or individual photos on Facebook, Twitter, Pinterest, etc with the click
        of a button.</li>
      <li>Gesture support for mobile devices to allow swiping to dismiss pictures or open the navigation options.</li>
    </ul>
    <span class="section-title title">Home</span>
    <ul>
      <li>Have download section with PDF, scanned in obit from paper, any newspaper clippings, etc.</li>
    </ul>
    <span class="section-title title">Slideshow</span>
    <ul>
      <li>I feel like I'm done here!</li>
    </ul>
    <span class="section-title title">Upload Photos</span>
    <ul>
      <li>EVENTUALLY add backend to save tags and uploader name to allow for photo sorting and filtering.</li>
    </ul>
    <span class="section-title title">View Photos</span>
    <ul>
      <li>Have Download All button at top of page that downloads all photos in a zip file (allows for quick, bulk download).</li>
      <li>EVENTUALLY have sorting options at the top to allow sorting by tag, added date, uploader, etc.</li>
      <li>EVENTUALLY be able to comment on photos.</li>
    </ul>
  </div>
  <p>If you are a curious mind, you can look at my code by clicking
    <a target="__blank" href="https://github.com/jgdigitaljedi/skipg">HERE</a>
  </p>
  <share-buttons [theme]="'material-dark'"
    [include]="['facebook','twitter', 'pinterest','messenger','sms','email','print']"
    [show]="5"
    [showCount]="false"
    [url]="'https://skipg.me/'"
    [title]="'SkipG.me'"
    [description]="'A memorial site for Maurice \'Skip\' Gauthier.'"
    [image]="'https://skipg.me/assets/collage.jpg'"
    [tags]="'Maurice Gauthier, Skip Gauthier, Pere Pere'"
  ></share-buttons>
</section>
