<mat-toolbar fxHide.lt-md="true" fxShow.gt-sm="true" fxFlex="100" fxLayout="row" color="primary" [ngClass]="{'shirley': isShirley}">
  <span class="skip-title">Skip & Shirley Gauthier</span>
  <div class="nav-buttons">
    <div [class.active]="activeRoute === '/skip'" (click)="navNext('/skip')" class="nav-btn">
      <div class="inner-button">
        <mat-icon>military_tech</mat-icon>
        <span class="nav-text">Skip</span>
      </div>
    </div>
    <div [class.active]="activeRoute === '/shirley'" (click)="navNext('/shirley')" class="nav-btn">
      <div class="inner-button">
        <mat-icon>favorite</mat-icon>
        <span class="nav-text">Shirley</span>
      </div>
    </div>
    <div [class.active]="activeRoute === '/slideshow'" (click)="navNext('/slideshow')" class="nav-btn">
      <div class="inner-button">
        <mat-icon>slideshow</mat-icon>
        <span class="nav-text">Slideshow</span>
      </div>
    </div>
    <div [class.active]="activeRoute === '/upload'" (click)="navNext('/upload')" class="nav-btn">
      <div class="inner-button">
        <mat-icon>cloud_upload</mat-icon>
        <span class="nav-text">Upload Photos</span>
      </div>
    </div>
    <div [class.active]="activeRoute === '/view'" (click)="navNext('/view')" class="nav-btn">
      <div class="inner-button">
        <mat-icon>photo_album</mat-icon>
        <span class="nav-text">View Photos</span>
      </div>
    </div>
    <!-- <div [class.active]="activeRoute === '/info'" (click)="navNext('/info')" class="nav-btn info-button">
      <div class="inner-button">
        <mat-icon>info</mat-icon>
      </div>
    </div> -->
  </div>
</mat-toolbar>

<mat-toolbar class="mobile-toolbar" fxHide.gt-sm="true" fxShow.lt-md="true" color="primary" fxFlex="100" fxLayout="row">
  <button mat-button class="nav-menu-toggle" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
    <span class="skip-title-mobile">Skip & Shirley</span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [class.active]="activeRoute === '/skip'" (click)="navNext('/skip')" class="mobile-btn">Skip</button>
    <button mat-menu-item [class.active]="activeRoute === '/shirley'" (click)="navNext('/shirley')" class="mobile-btn">Shirley</button>
    <button mat-menu-item [class.active]="activeRoute === '/slideshow'" (click)="navNext('/slideshow')" class="mobile-btn">Slideshow</button>
    <button mat-menu-item [class.active]="activeRoute === '/upload'" (click)="navNext('/upload')" class="mobile-btn">Upload Photos</button>
    <button mat-menu-item [class.active]="activeRoute === '/view'" (click)="navNext('/view')" class="mobile-btn">View Photos</button>
  </mat-menu>
</mat-toolbar>
