@import '../../../styles/_variables.scss';
.skip-title {
	font-family: $hand-font;
	font-size: 1.8em;
}
.nav-buttons {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	.nav-btn {
		display: flex;
		align-items: flex-end;
		font-weight: bold;
		font-size: .75em;
		font-family: $serif-font;
		cursor: pointer;
		.inner-button {
			transform: translateY(0);
			transition: all .4s ease-in-out;
			display: flex;
			align-items: center;
			&:hover {
				transform: translateY(-10%) scale(1.1);
				transition: all .4s ease-in-out;
			}
			mat-icon {
				font-size: 1em;
				// width: 1.2em;
				// height: 1.2em;
				// margin-right: .1em;
				margin-top: .5em;
			}
		}
	}
	.nav-btn:not(.info-button) {
		padding: 0;
		margin: auto 1em;
		min-width: 0;
		width: auto;
		.nav-text {
			font-family: $serif-font !important;
		}
	}
	.info-button {
		padding: 0;
		margin: auto 1em;
		min-width: 0;
		width: auto;
		mat-icon {
			font-size: 1.2em;
			width: 1.2em;
			height: 1.2em;
		}
	}
}

.active {
	color: $red-sox-red;
}

.mobile-toolbar {
	display: flex;
	align-items: center;
	.skip-title-mobile {
		font-family: $hand-font;
		font-size: 1.8em;
		margin-left: 2em;
	}
}
.mobile-btn {
	font-family: $serif-font !important;
	font-weight: bold;
}

::ng-deep .mat-button:hover {
	background-color: transparent !important;
}

.shirley {
	background-color: $yellow;
	.active {
		color: darken($pink, 10%);
	}
}
