<mat-toolbar fxHide.lt-md="true" fxShow.gt-sm="true" fxFlex="100" fxLayout="row" color="primary">
  <span>Skip Gauthier</span>
  <div class="nav-buttons">
    <button mat-button [class.active]="activeRoute === '/home'" (click)="navNext('/home')" class="nav-btn">
      <mat-icon>home</mat-icon>
      Home
    </button>
    <button mat-button [class.active]="activeRoute === '/slideshow'" (click)="navNext('/slideshow')" class="nav-btn">
      <mat-icon>slideshow</mat-icon>
      Slideshow
    </button>
    <button mat-button [class.active]="activeRoute === '/upload'" (click)="navNext('/upload')" class="nav-btn">
      <mat-icon>cloud_upload</mat-icon>
      Upload Photos
    </button>
    <button mat-button [class.active]="activeRoute === '/view'" (click)="navNext('/view')" class="nav-btn">
      <mat-icon>photo_album</mat-icon>
      View Photos
    </button>
    <button mat-button [class.active]="activeRoute === '/info'" (click)="navNext('/info')" class="nav-btn">
      <mat-icon>info</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-toolbar fxHide.gt-sm="true" fxShow.lt-md="true" color="primary" fxFlex="100" fxLayout="row">
  <button mat-button class="nav-menu-toggle" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [class.active]="activeRoute === '/home'" (click)="navNext('/home')">Home</button>
    <button mat-menu-item [class.active]="activeRoute === '/slideshow'" (click)="navNext('/slideshow')">Slideshow</button>
    <button mat-menu-item [class.active]="activeRoute === '/upload'" (click)="navNext('/upload')">Upload Photos</button>
    <button mat-menu-item [class.active]="activeRoute === '/view'" (click)="navNext('/view')">View Photos</button>
    <button mat-menu-item [class.active]="activeRoute === '/info'" (click)="navNext('/info')">Info</button>
  </mat-menu>
</mat-toolbar>