<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step>
    <form>
      <ng-template matStepLabel>DISCLAIMER!</ng-template>
      <div class="upload-disclaimer">I ask that you only upload photos of Skip/Maurice/Dad/Pop/Pere Pere, or whatever you called him. This is not your Facebook or Instagram page 
        and if you want to post pictures of yourself somewhere then that is the place to do it. This site is only for photos in which Skip is pictured. 
        Don't get me wrong, the more people in the picture the merrier. Just know that I will delete any photos that do not have Skip in them.
      </div>
      <mat-form-field>
        <div>To keep track of who uploaded which picture, enter you name:</div>
        <input matInput placeholder="Name" formControlName="firstCtrl">
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Enter Family & Friends Password</ng-template>
    <input matInput placeholder="Enter password">
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Upload Photos</ng-template>
    <app-uploader></app-uploader>
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
  