<mat-vertical-stepper class="upload-stepper" [linear]="true" #stepper>
  <mat-step [stepControl]="firstForm" class="stepper">
    <form [formGroup]="firstForm" class="stepper-form">
      <ng-template matStepLabel>DISCLAIMER!</ng-template>
      <div class="stepper-contents" ngClass.gt-sm="half-width" ngClass.lt-md="full-width">
        <div class="upload-disclaimer">Have a photo or Shirely or Skip (or Mere Mere or Pere Pere or whatever you called them)?
          Please upload it here. It is password protected to keep out spammers. Ask Joey for the password or you can even send Joey
          pictures to upload for you.<br/><br/>

          Note that this site is to remember Skip and Shirley. If you make it about you and decide to upload a picture that doesn't include them, 
          know that it <b>will</b> be deleted.
        </div>
        <div class="name-text">To keep track of who uploaded which picture, enter you name
          <i>(this isn't hooked up yet but enter something to be able to move on; feature coming soon)</i>:</div>
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext class="control-btn red-button">
            Next Step
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="passForm" class="stepper">
    <form [formGroup]="passForm" class="stepper-form">
      <ng-template matStepLabel>Enter Family & Friends Password</ng-template>
      <div class="stepper-contents" ngClass.gt-sm="half-width" ngClass.lt-md="full-width">
        <div class="password-instructions">
          Enter the password that is shared with family and friends. If you don't know this password and are family or a close friend
          that has some photos to upload then ask Paul or Joey for the password. This is just a small step to deter any random
          person from uploading whatever they want.<br/><br/>Password will be changed if someone is abusing the site.
        </div>
        <div class="password-note">NOTE: The 'Next Step' button will remain disabled until you type the correct password.</div>
        <mat-form-field>
          <input #passField matInput type="password" placeholder="Enter password" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious class="control-btn blue-button">
            <mat-icon>arrow_back</mat-icon>
            Previous Step
          </button>
          <button mat-button matStepperNext class="control-btn" [class.red-button]="passField.value === ffPass" [disabled]="passField.value !== ffPass"
            [class.disabled-button]="passField.value !== ffPass">
            Next Step
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Upload Photos</ng-template>
    <app-uploader></app-uploader>
    <div class="previous-wrapper">
      <button mat-button matStepperPrevious class="control-btn blue-button">
        <mat-icon>arrow_back</mat-icon>
        Previous Step
      </button>
    </div>
  </mat-step>
</mat-vertical-stepper>
