<section class="image-dialog-wrapper">
  <img #imageDir [src]="data.base + data.photo.public_id" class="image-dialog--photo" [ngStyle]="{'max-width': data.width, 'max-height': data.height}"
    (load)="imageLoaded()" [hidden]="!imageDone" [@grow]="imageDone">
  <div class="spinner-wrapper" *ngIf="!imageDone">
    <mat-spinner></mat-spinner>
  </div>
  <button mat-button (click)="closeDialog()" *ngIf="imageDone">
    <mat-icon>close</mat-icon> Close
  </button>
  <span class="save" *ngIf="imageDone">Right click to see save option</span>
</section>
