@import '../../styles/_variables';
.photos-view {
	background-color: $flat-white;
	padding: 1em;
	text-align: center;
	.photos-masonry-wrapper {
		.masonry-item {
			width: 350px;
			mat-card {
        margin-bottom: 1em;
        cursor: pointer;
				.photo-grid--tile--image {
					max-width: 300px;
				}
			}
		}
	}
}
