<section class="photos-view" infiniteScroll (scrolled)="getMorePhotos()">
  <!-- <mat-toolbar [color]="'warn'">Sorting, download all, etc will go here</mat-toolbar> -->
  <div class="photos-masonry-wrapper">
    <ngx-masonry class="masonry-wrapper" [options]="options" [useImagesLoaded]="true">
      <ngxMasonryItem class="masonry-item" *ngFor="let photo of photos">
        <mat-card (click)="openImageDialog(photo)">
          <cl-image [public-id]="photo.public_id" class="photo-grid--tile--image">
            <cl-transformation width="300" crop="scale"></cl-transformation>
          </cl-image>
          <!-- <div class="photo-tools">
            <button mat-button class="icon-button">
              <mat-icon>fullscreen</mat-icon>
            </button>
            <button (click)="saveImage(photo)" mat-button class="icon-button">
              <mat-icon>save</mat-icon>
            </button>
          </div> -->
        </mat-card>
      </ngxMasonryItem>
    </ngx-masonry>
  </div>
</section>
