<section class="home-wrapper">
  <h1>Skipg.me is a work-in-progress</h1>
  <img src="../../assets/IMG_1745.jpg" alt="Maurice Gauthier" class="pop-photo" ngClass.lt-md="mobile-photo">
  <div class="letting-them-know" ngClass.lt-md="mobile" ngClass.gt-sm="full">
    <p>
      Hey family, Joey here. I told yous guys I was gonna build a site to memorialize Pop. I have big plans, but they are going
      to take a while. I threw up this placeholder just to let you know that I'm working on it and it will happen soon. How
      soon is a question I don't know the answer to yet. I'm not using any templates or site generator services like Wix.
      This is 100% hand-typed code by me in what very little spare time I have. Instead of paying for a hosting service I
      just rent a small virtual server for $5 a month and I have to configure it to host this site by myself too which is
      another layer of complexity, but it keeps it cheap. Oh, and by the way, the finished product will look amazing. This
      is just a placeholder to let you guys know what's up. I'm not going to spend time making this pretty because the time
      is better spent making creating my vision.
    </p>
    <p>My plans for each section include:</p>
    <span class="section-title">Home</span>
    <ul>
      <li>It's a landing page so it'll need to look nice.</li>
      <li>Have obituary PDF available for download.</li>
      <li>Have any links to obit, Owens & Brumley, etc.</li>
    </ul>
    <span class="section-title">Slideshow</span>
    <ul>
      <li>Randomly generate endless loop slideshow using all available photos with cool transitions.</li>
      <li>Maybe have music? (if so...Proud Mary, Dancing in the Street, I've Got You Babe, and some more)</li>
    </ul>
    <span class="section-title">Upload Photos</span>
    <ul>
      <li>Allow family to upload directly to site and immediately use photos in slideshow and download page.</li>
      <li>Have upload password protected and share password with family. This will keep any random web surfer that stumbles across
        the page from uploading whatever they want.</li>
      <li>EVENTUALLY add backend to save tags and uploader name to allow for photo sorting and filtering.</li>
    </ul>
    <span class="section-title">View Photos</span>
    <ul>
      <li>Dynamically show photos in a Pinterest-style masonry grid that keeps loading more photos as you scroll.</li>
      <li>Have each photo show enlarged when clicked and have options for download and adding tags.</li>
      <li>Have Download All button at top of page that downloads all photos in a zip file (allows for quick, bulk download).</li>
      <li>EVENTUALLY have sorting options at the top to allow sorting by tag, added date, uploader, etc.</li>
    </ul>
  </div>
  <p>If you are a curious mind, you can look at my code by clicking
    <a target="__blank" href="https://github.com/jgdigitaljedi/skipg">HERE</a>
  </p>
</section>
