<section class="home-wrapper" ngClass.lt-md="mobile-wrapper">
  <div class="home-inner" fxLayout="row" fxLayout.lt-md="column" ngClass.lt-md="mobile-inner">
    <div class="home-inner--info" ngClass.lt-md="home-inner--child-mobile">
      <h1>Maurice "Skip" Gauthier</h1>
      <div class="home-inner--info--life">
        <div>Born July 18, 1933</div>
        <div>Died June 5, 2018</div>
      </div>
      <div class="divider">
        <hr>
      </div>
      <div class="home-inner--info--obit">
        <h4>Obituary</h4>
        <a href="https://www.legacy.com/obituaries/timesrecordnews/obituary.aspx?n=maurice-franklin-gauthier-skip&pid=189218315&fhid=30006"
          target="__blank">Times Record News</a>
        <a href="http://www.owensandbrumley.com/sitemaker/memsol.cgi?user_id=2111045" target="__blank">Owens & Brumley Funeral Home</a>
      </div>
      <div class="divider">
        <hr>
      </div>
      <div class="home-inner--info--links">
        <h4>Other Links</h4>
        <a href="http://archive.timesrecordnews.com/news/local/devoted-daughter-struggled-alone-2601692c-e382-3af3-e053-0100007fa92c-360509751.html"
          target="__blank">Article that mentions donation to charity</a>
        <a href="https://www.facebook.com/maurice.gauthier.50115" target="__blank">Facebook</a>
      </div>
    </div>
    <div class="home-inner--photos" ngClass.lt-md="home-inner--child-mobile">
      <img src="../../assets/collage.jpg" alt="Maurice Gauthier" class="pop-photo">
    </div>
  </div>
</section>
